<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Plain & Clean
   
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20111024

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- Meta Data -->
<meta name="keywords" content="blog, engineering, machining, fabrication, Shane Gooden, University of Kansas, KU, manufacturing, mechanical" />
<meta name="description" content="An informal guide on aspects of machining." />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<!-- Header -->

<title>A Django Powered Blog by William Bryant</title>
<link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
<div id="header" class="container">
<div id="logo">
<h1><a href="/">Fab'n Fool </a></h1>
<p>by the fabrication fool himself, <a href="/blog/about">Shane Gooden</a></p>
</div>

<!-- Links Menu that runs along the top of the page -->
<div id="menu">
<ul>
<li class="current_page_item"><a href="/">Homepage</a></li>
<li><a href="/blog/">Blog</a></li>
<li><a href="/blog/curriculum_vitae" class="rss">C.V.</a></li>
<li><a href="/blog/about">About</a></li>
{% if user.is_staff %}
<li><a href="/admin">Admin</a></li>
{% endif %}
<li><a href="/blog/contact">Contact</a></li>
</ul>
</div>
</div>
<!-- end #header -->

<!-- The body/content of the webpage -->
<div id="page" class="container">
<div id="content">
{% block content %}
{% endblock %}
</div>
<!-- end #content -->

<!-- The sidebar that runs along the right side of the page -->
<div id="sidebar">
<ul>

<div style="clear: both;">&nbsp;</div>

<li>
<h2>Purpose:</h2>
<p>Below is a list of topics in fabrication and machining. This is not by any means a comprehensive guide, but is rather, meant to provide some important, basic information on these subjects. </p>
</li>
<li>
<h2>Topics</h2>
<ul>						
<li><a href="/blog/overview">Overview</a></li>
<li><a href="/blog/technical_drawings">Technical Drawings</a></li>
<li><a href="/blog/safety">Safety</a></li>
<li><a href="/blog/measuring">Measuring</a></li>
<li><a href="/blog/materials">Materials</a></li>
<li><a href="/blog/machining_and_tools">Machines and Tools</a></li>
</ul>
</li>
				
<li>
<h2>News Archives</h2>
<ul>
<li><a href="/blog/archives/" class="archives">All</a></li>
<li><a href="/blog/archives/2012" class="archives">2012</a></li>
<li><a href="/blog/archives/April" class="archives">April</a></li>
<li><a href="/blog/archives/March" class="archives">March</a></li>
<li><a href="/blog/archives/February" class="archives">February</a></li>
<li><a href="/blog/archives/January" class="archives">January</a></li>
<li><a href="/blog/archives/2011" class="archives">2011</a></li>
						
</ul>
</li>
</ul>
</div>
<!-- end #sidebar -->
<div style="clear: both;">&nbsp;</div>
</div>
<!-- end #page -->
</div>
<!-- This is where the footer begins -->
<div id="footer-content" class="container">
<div id="footer-bg">
<div id="column1">
<h2>Additional Welding Info.</h2>
<ul>
<li><a href="http://autospeed.com.au/cms/title_Beginners-Guide-to-Welding-Part-1/A_112243/article.html">Welding for Beginners</a></li>
<li><a href="http://www.garagejournal.com/forum/showthread.php?t=6750">The Garage Journal</a></li>
<li><a href="http://doit101.com/crafts/welding.html">Welding Basics</a></li>
<li><a href="http://www.mig-welding.co.uk">Welding Tutorial</a></li>
<li><a href="http://www.doityourself.com/stry/6-general-welding-tips-for-beginners">Welding Tips</a></li>
</ul>
</div>
<div id="column2">

</div>
<div id="column3">
<h2>Extra Machining Links</h2>
<ul>
<li><a href="http://www.hobby-machinist.com/">The Hobby-Machinist</a></li>
<li><a href="http://www.practicalmachinist.com/vb/general/machining-dummies-226999/">The Practical Machinist</a></li>
<li><a href="http://www.winsloweng.com/articles/drillChart_content.htm">Speed and Feed Chart</a></li>
<li><a href="http://www.kramerusa.com/DrillTapChart.htm">Drill and Taps Charts</a></li>
<li><a href="http://www.daycounter.com/Calculators/GCode/Feed-Rate-Calculator.phtml">Speed and Feed Rate Calculator</a></li>
<li><a href="http://bbs.homeshopmachinist.net/showthread.php?t=37084">Beginning Machining Projects</a></li>
</ul>
</div>
</div>
</div>
<div id="footer">
<p>Copyright (c) 2011 Sitename.com. All rights reserved.</p>
</div>
<!-- end #footer -->
</body>
</html>
