{% extends "base.html" %}

{% block content %}

<link href="/static/css/main.css" rel="stylesheet" type="text/css" media="screen" />
{% if post.title == 'no_title' %}
{% else %}
<h2 class="title">{{ post.title }}</h2>
{% endif %}
<p class="meta"><span class="date">{{ post.created }}</span><span class="posted">Posted by <a href="/blog/about/">Shane Gooden</a></span></p>

<div style="clear: both;">&nbsp;</div>
<div class="entry">
{% if post.include_picture == '1' %}
    {% if post.alignment == '1' %}
	{% if post.size == '1'%}
	    <img src="/static/img/{{ post.picture_name }}" class='leftsmall' alt="/static/img/img10" />
        {% else %}
            {% if post.size == '2'%}
                <img src="/static/img/{{ post.picture_name }}" class='leftmedium' alt="/static/img/img10" />
            {% else %}
                <img src="/static/img/{{ post.picture_name }}" class='leftlarge' alt="/static/img/img10" />
            {% endif %}
        {% endif %}
    {% else %}
        {% if post.alignment == '2'%}
            {% if post.size == '1'%}
		<img src="/static/img/{{ post.picture_name }}" class='rightsmall' alt="/static/img/img10" />
            {% else %}
                {% if post.size == '2'%}
            	    <img src="/static/img/{{ post.picture_name }}" class='rightmedium' alt="/static/img/img10" />
                {% else %}
            	    <img src="/static/img/{{ post.picture_name }}" class='rightlarge' alt="/static/img/img10" />
            	{% endif %}
    	    {% endif %}
        {% else %}
            {% if post.size == '1'%}
		<img src="/static/img/{{ post.picture_name }}" class='centersmall' alt="/static/img/img10" />
            {% else %}
                {% if post.size == '2'%}
            	    <img src="/static/img/{{ post.picture_name }}" class='centermedium' alt="/static/img/img10" />
                {% else %}
                    <img src="/static/img/{{ post.picture_name }}" class='centerlarge' alt="/static/img/img10" />
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}
<div class="post">
	
	{{ post.body|safe|linebreaks }}
	
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'fabnfool'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
{% endblock %}


