{% extends "base.html" %}

{% block content %}
<h2> Safety </h2>
{% for post in object_list %}

<div class="post">
{% if post.title == 'no_title' %}
{% else %}
<h3 class="title">{{ post.title }}</h3>
{% endif %}

<div style="clear: both;">&nbsp;</div>
<div class="entry">
{% if post.include_picture == '1' %}
    {% if post.alignment == '1' %}
	{% if post.size == '1'%}
	    <img src="/static/img/{{ post.picture_name }}.{{ post.file_type }}" class='leftsmall' alt="/static/img/img10.gif" />
        {% else %}
            {% if post.size == '2'%}
                <img src="/static/img/{{ post.picture_name }}.{{ post.file_type }}" class='leftmedium' alt="/static/img/img10.gif" />
            {% else %}
                <img src="/static/img/{{ post.picture_name }}.{{ post.file_type }}" class='leftlarge' alt="/static/img/img10.gif" />
            {% endif %}
        {% endif %}
    {% else %}
        {% if post.alignment == '2'%}
            {% if post.size == '1'%}
		<img src="/static/img/{{ post.picture_name }}.{{ post.file_type }}" class='rightsmall' alt="/static/img/img10.gif" />
            {% else %}
                {% if post.size == '2'%}
            	    <img src="/static/img/{{ post.picture_name }}.{{ post.file_type }}" class='rightmedium' alt="/static/img/img10.gif" />
                {% else %}
            	    <img src="/static/img/{{ post.picture_name }}.{{ post.file_type }}" class='rightlarge' alt="/static/img/img10.gif" />
            	{% endif %}
    	    {% endif %}
        {% else %}
            {% if post.size == '1'%}
		<img src="/static/img/{{ post.picture_name }}.{{ post.file_type }}" class='centersmall' alt="/static/img/img10.gif" />
            {% else %}
                {% if post.size == '2'%}
            	    <img src="/static/img/{{ post.picture_name }}.{{ post.file_type }}" class='centermedium' alt="/static/img/img10.gif" />
                {% else %}
                    <img src="/static/img/{{ post.picture_name }}.{{ post.file_type }}" class='centerlarge' alt="/static/img/img10.gif" />
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}	
{{ post.body|safe|linebreaks }}
	
</div>

</div>



{% endfor %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'fabnfool'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
{% endblock %}
